.error-title {
  font-size: 58px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);

  margin: 50px auto;
}

.error-text {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  padding: 0 50px;
  text-align: center;
  line-height: 2;
}

.error__container {
  display: flex;
  flex-direction: column;
  margin-top: -28px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.error-avatar {
  height: 300px;
  width: 300px;
  margin: auto;
}
