//Fonts
$Font: 'Open Sans';
$MainFont: 'Open Sans Semibold';
$MainFontBold: 'Open Sans Bold';
$AlternateFont: sans-serif;
$ButtonFont: 'Open Sans Semibold';

//Main app
$BgColor1: #17181b;
$BgColor2: #212225;

$TextWhite: #fff;
$TextLight: #c3c5c7;
$TextDarkish: #a3a5a7;
$TextDark: #5b5b5b;
$TextError: #727272;

$CloseButton: #cccccc;
$CloseButtonHover: #fff;

$SpinnerColor1: #2187e7;
$SpinnerColor2: rgba(0, 183, 229, 0.9);

$ScrollBarBg: #30333c;
$ScrollBarThumb: #83888c;
$ScrollBarThumbHover: #93989c;

//Top Bar
$TitleBarBg: #17181b;
$TitleBarText: #fff;
$FullScreenButton: #000;
$FullScreenButtonHover: #b2b2b2;

$FilterBarBg: #17181b;
$FilterBarText: #c3c5c7;
$FilterBarTextHover: #fff;
$FilterBarActive: #2d72d9;

$SearchBoxBg: #0d0d0e;

$DropDownBg: #17181b;
$DropDownBgHover: #0b131f;
$DropDownTextHover: #fff;
$DropDownText: #c3c5c7;
$DropDownOpacity: 1;

$FilterBarIcon: #909498;
$FilterBarIconHover: #2468cc;
$FilterBarIcon-PosterWidth: #6a6e72;

$TopBarShadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.9);

//$ButtonBg
$ButtonBg: #1f375f;
$ButtonBgHover: #225694;
$ButtonBgActive: #2468cc;

$ButtonBgDisabled: #393b3d;

$ButtonBgOk: #27ae60;
$ButtonBgWarning: #f15153;

$ButtonText: #fff;
$ButtonTextHover: #fff;

$ButtonRadius: 3px;

// covers
$PosterRadius: 4px;
$PosterHoverBorder: #2d75df;
$PosterHoverOverlay: rgba(23, 24, 27, 0.6);
$PosterShadow: 0px 0px 10px;

$SettingsCategoriesText: #2d75df;
$SettingsSeparator: #3a3b3e;

$InputBoxBg: #393b3d;
$InputBoxText: #c3c5c7;

$SettingsText1: #c3c5c7;
$SettingsText2: #8a8b8e;

$SettingsButtonText: #e3e5e7;
$SettingsButtonTextHover: #e3e5e7;
