.top-bar {
  width: 100%;
  box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.9);
  z-index: 10;
  width: 100%;
  opacity: 0.97;
  position: fixed;
  top: 0;
  background-color: $FilterBarBg;

  .app-title {
    color: $TitleBarText;
    font-size: 20px;
    text-align: center;
    padding: 10px 0 0;
    font-weight: bold;
  }

  .nav-menu {
    display: flex;
    margin-top: 0;
    height: 35px;
    padding-bottom: 5px;
  }
  .nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px 10px 0;

    .user-profile {
      position: relative;
      z-index: 2000;
      background-color: rgb(107, 202, 219);
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }

    .menu-icon {
      font-size: 20px;
      margin: 0 20px;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.5);
      transition: color 0.5s ease;

      &:hover {
        color: rgba(37, 107, 211, 0.9);
        cursor: pointer;
      }
    }
  }

  .filter-bar {
    z-index: 10;
    width: 100%;
    opacity: 0.97;
    display: flex;
    align-items: stretch;
  }
}

.search__container {
  margin-left: auto;
  display: flex;
  align-items: center;

  .search-box,
  .btn-search {
    margin: 0 20px;
  }
}

.search-wrapper {
  display: flex;
  align-items: center;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;

  &:hover::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 3px;
  }
}
.search-item {
  margin: 0 20px;
  padding: 0 10px;
  color: white;
  position: relative;
}

.user-profile {
  cursor: pointer;
  transition: border 0.5s ease, background-color 0.5s ease;
  &:hover {
    background-color: rgb(176, 224, 64) !important;
    border: 3px solid rgb(176, 224, 64);
  }
}

.user-favorites {
  margin-right: 10px;
}

.filter-bar {
  .search-wrapper:hover::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: -5px;
    height: 3px;
    background-color: #2d72d9 !important;
  }
}
