.avatar__container {
  height: 200px;
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border: solid 2px red;
}

.fade-out {
  animation: fadeOut 4s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
