* {
  box-sizing: border-box;
}

.avatar__container {
  height: 200px;
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.fade-out {
  animation: fadeOut 4s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/************************************/
.movie-selection__area {
  display: flex;
  flex-wrap: wrap;
}

.media__poster {
  height: 200px;
  width: 140px;
  background-size: contain;
  background-position: center;
  position: relative;
  color: white;
  border-radius: 3px;
  transition: border 0.25s ease;
}

.media__poster:hover {
  border: 2px solid #2468cc;
}

.media__poster:hover .media__poster-check,
.media__poster:hover .media__poster-rating {
  opacity: 1;
}

.media__poster-check {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.media__poster-rating {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.media__poster-seen {
  font-weight: 900;
  position: absolute;
  font-size: 18px;
  color: #fff;
  left: 0;
}

.media__poster-favorite {
  font-weight: 900;
  position: absolute;
  font-size: 18px;
  color: #fff;
  right: 0;
}

/********/

#init-content {
  width: 100%;
  /* Full Width */
  height: 5px;
  background: #000;
  margin-top: 14%;
}

.init-expand {
  width: 100%;
  height: 1px;
  margin: 2px 0;
  background: #2187e7;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.7);
  -moz-animation: fullexpand 10s ease-out;
  -webkit-animation: fullexpand 10s ease-out;
}

/* Full Width Animation Bar */

@-webkit-keyframes fullexpand {
  0% {
    width: 0px;
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinoff {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/**************/
.cover {
  position: relative;
  background-image: url('http://static.tvmaze.com/uploads/images/medium_portrait/263/659037.jpg');
  background-size: 134px 196px;
  width: 134px;
  height: 196px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px;
  cursor: pointer;
}

.cover-overlay {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  transition: opacity 500ms ease-in;
  opacity: 0;
}

.cover-info-overlay {
  padding: 88px 0;
  background: rgba(23, 24, 27, 0.6);
  border: 2px solid rgba(23, 24, 27, 0.6);
  border-radius: 4px;
  transition: border-color 0.25s ease;
}

.cover-info-overlay:hover {
  border: 3px solid #2d75df;
  transition: border-color 0.5s;
  opacity: 1;
}
